@import './common.scss';

#classify{
    width: 100%;
    height: 100%;
    .class_left{
        width: 30%;
        height: rem(570);
        border-right: 1px solid #f0f0f0;
        position: fixed;
        top: rem(43);
        left: 0;
        border-top: 1px solid #f0f0f0;
        background: white;
        .active{
            color: #000088;
        }
        ul{
            display: flex;
            flex-direction: column;
            li{
                flex: 2;
                padding: rem(15) 0;
                color: #888;
                font-size: rem(16);
                text-align: center;
                .i_active{
                    display: inline-block;
                    width: rem(4);
                    height: rem(14);
                    background: #000088;
                    float: left;
                    margin-top: rem(2);
                }
                .span_active{
                    color: #000088;
                }

            }
        }
    }

    .class_right{
        float: right;
        height:auto;
        #brand_right{
            width: 70%;
            height: 100%;
            float: right;
            overflow-y: auto;
            // 品牌推荐显示的内容
            .recommend_brand{
                width: 100%;
                height: 100%;
                li{
                    float: left;
                    width: rem(57);
                    height: rem(65);
                    margin-right: rem(15);
                    margin-left: rem(15);
                    text-align: center;
                    padding-top: rem(10);
                    img{
                        width: rem(45);
                        height: rem(20);
                    }
                    p{
                        font-size: rem(12);
                        overflow: hidden;
                        text-overflow:ellipsis;//文本溢出显示省略号
                        white-space:nowrap;//文本不会换行（单行文本溢出）
                    }
                }
            }

            // 其他显示的相似的分类商品
            .other_list{
                p{
                    width: 100%;
                    height: rem(31);
                    background: #FCFCFC;
                    border-bottom: 1px solid #F5F5F5;
                    line-height: rem(31);
                    padding-left: rem(15);
                    font-size: rem(14);
                }
                .child{
                    width: 100%;
                    height: auto;
                    font-size: rem(13);
                    color: #888;
                    background: white;
                    padding: rem(15);
                    a{
                        display: inline-block;
                        width: 32%;
                        height: rem(32);
                        // margin-right: rem(3);
                        text-align: center;
                    }
                }
            }

        }

    }
}