@import './common.scss';

#user{
    width: 100%;
    height: 100%;
    background: #F0F0F0;
    .member_top{
        width: 100%;
        height: rem(242);
        background: #E8CCFF;
        .top_heder{
            width: 100%;
            height: rem(42);
        }

        .top_center{
            width: 100%;
            height: rem(132);
            text-align: center;
            p{
                font-size: rem(18);
                margin-top: rem(10);
            }
        }

        .top_bottom{
            width: 100%;
            height: rem(66);
            display: flex;
            li{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
                h6{
                    font-size: rem(16);
                    margin-bottom: rem(6);
                }
                p{
                    font-size: rem(12);
                    color: #888;
                }
            }

        }

    }

    // 我的订单
    .my_{
        width: 100%;
        height: rem(115);
        background: #fff;
        margin: rem(15) 0 0 0;
        padding: 0 rem(15);
        display: flex;
        flex-direction: column;
        .title{
            flex: 2;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #f0f0f0;
            padding: rem(10) 0;
            h6{
                flex: 8;
                font-size: rem(16);
            }
            a{
                flex: 1;
                color:#999;
                font-size: rem(13);
            }
        }
        ul{
            flex: 7;
            display: flex;
            li{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .b{
                    font-size: rem(19);
                }
                .a{
                    font-size: rem(22);
                }
                span{
                    font-size: rem(13);
                    color: #888;
                    margin-top: rem(10)
                }
                .b_{
                    margin-top: rem(14)
                }
            }
        }
    }

    // 底部的
    .alike{
        width: 100%;
        height: rem(110);
        background: #Fff;
        padding: rem(15) rem(15);
        display: flex;
        flex-direction: column;
        p{
            flex: 1;
            padding: rem(10) 0;
        }
        .borders{
            border-top: 1px solid #f0f0f0;
            border-bottom: 1px solid #f0f0f0;
        }
        span{
            font-size: rem(16);
        }
        i{
            font-size: rem(22);
            float: right;
        }
    }

}
